body {
  background: #ecf0f3;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

#box {
  height: 250px;
  width: 250px;
  animation: animate 10s linear infinite;
  z-index: 1;
  box-shadow: 18px 18px 30px 1px inset #d1d9e6, -18px -18px 30px 1px inset #fff;
  border-radius: 8px;
}

img {
  z-index: 2;
  width: 250px;
  height: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes animate {
  0%, 100% {
    transform: rotate(0deg);
    border-radius: 8px;
  }
  50% {
    transform: rotate(360deg);
    border-radius: 50%;
  }
}